.top-padding-30 {
  padding-top: 30px;
}

.top-padding-15 {
  padding-top: 15px;
}

.top-padding-5 {
  padding-top: 5px;
}

figure.effect-bubba {
	background: #222222;
}

figure.effect-bubba img {
	opacity: 0.8;
}

figure.effect-bubba:hover img {
	opacity: 0.2;
}
