/* - - - - - - - - - - - - - - -
	XOLARIS FOUNDATION HOME
	Designed by John Nguyen
	-----------------------
	  hello@jnguyen.space
 - - - - - - - - - - - - - - - */

html, body {
	margin: 0;
	margin: 0 9% 0 9%;
	padding: 0;
	color: #555;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: Palatino Linotype;
}

/* GENERAL USE STYLES */

.text-shadow{
	text-shadow: 1px 2px rgba(0,0,0,.2);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* TOP BAR STYLES */
.top-bar, .search-bar, .logo-bar {
	width: 100%;
	min-height: 40px;
}

/* SEARCH BAR + SOCIAL LINKS */

	.search-bar {
		height: auto;
		padding: 15px;
	}

	.search-bar input {
		float: right;
		margin-right: 30px;
		margin-top: 25px;
	}

	.search-bar img {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
		max-width: 30px;
	}

/* LOGO BAR */

	.logo-bar {
		margin-top: 40px;
		margin-bottom: -30px; /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For font-style: italic;refox 3.6 to 15 */
	    background: -webkit-linear-gradient(left, rgba(0,50,255,.2), rgba(0,0,0,0) 5%, rgba(0,0,0,0) 40%, rgba(0,120,255,.4));
	    background: -o-linear-gradient(left, rgba(0,50,255,.2), rgba(0,0,0,0) 5%, rgba(0,0,0,0) 40%, rgba(0,120,255,.4));
	    background: linear-gradient(to right, rgba(0,50,255,.2), rgba(0,0,0,0) 5%, rgba(0,0,0,0) 40%, rgba(0,120,255,.4)); /* Standard syntax (must be last) */	}

	.logo-bar img {
		position: absolute;
		left: 20%;
		transform: translateY(-40%);
  		pointer-events: none;
	}

	.give-now-call {
		cursor: pointer;
		position: absolute;
		right: 20%;
		color: white;
		margin: 30px;
		font-size: 18pt;
		padding: 20px 15px 15px 15px;
		width: 64px;
		height: 59px;
		text-align: center;
		border-radius: 50%;
		background-color: #d00;
		box-shadow: 0px 5px 20px -5px rgba(0,0,0,.8);
		transform: translateY(-60%);
		transition: .2s;
	}

	.give-now-call:hover {
		box-shadow: 0px 0px 5px -2px rgba(0,0,0,.8);
		background-color: #f88;
	}

	/* NAVIGATION */

		.navigation {
			text-align: center;
			margin-top: 60px;
			font-weight: 800;
			font-size: 16pt;
			font-family: Palatino Linotype;
		}

		.navigation a {
			color: #777;
			text-decoration: none;
			transition: .2s;
		}

		.navigation a:hover {
			color: #ddd;
		}

/* MAIN SLIDESHOW */

	.slideshow {
		background: url(./images/splash_1t.png);
		background-size: cover;
		background-position: center;
		max-width: 100%;
		padding: 50px;
		margin-top: 40px;
	}

	.ss-box {
		background-color: rgba(255, 255, 255, .8);
		width: 28%;
		padding-top: 10px;
		text-align: center;
	}

	.box-title {
		background-color: #e00;
		color: white;
		width: 100%;
		font-size: 18pt;
	}

	.box-content {
		padding: 20px;
	}

	.box-content h3 {
		font-size: 250%;
		margin: 0;
		white-space: pre-wrap;      /* CSS3 */   
		white-space: -moz-pre-wrap; /* Firefox */    
		white-space: -pre-wrap;     /* Opera <7 */   
		white-space: -o-pre-wrap;   /* Opera 7 */    
		word-wrap: break-word;      /* IE */
	}

	.box-content h4 {
		font-size: 180%;
		margin: 0;
		white-space: pre-wrap;      /* CSS3 */   
		white-space: -moz-pre-wrap; /* Firefox */    
		white-space: -pre-wrap;     /* Opera <7 */   
		white-space: -o-pre-wrap;   /* Opera 7 */    
		word-wrap: break-word;      /* IE */
	}

	.box-content h5 {
		font-size: 110%;
		margin: 0;
		white-space: pre-wrap;      /* CSS3 */   
		white-space: -moz-pre-wrap; /* Firefox */    
		white-space: -pre-wrap;     /* Opera <7 */   
		white-space: -o-pre-wrap;   /* Opera 7 */    
		word-wrap: break-word;      /* IE */
	}

	.help-call-ctnr {
	    width: 50%;
	    margin: 0 auto;
	}

	.help-call {
		cursor: pointer;
		color: white;
		padding: 22px 5px 5px 5px;
		width: 54px;
		height: 36px;
		text-align: center;
		vertical-align: middle;
		text-align: center;
		border-radius: 50%;
		background-color: #e00;
		margin-left: 30%;
		box-shadow: 0px 3px 20px -5px rgba(0,0,0,.5);
		transition: .2s;
	}

	.help-call:hover {
		box-shadow: 0px 0px 5px -2px rgba(0,0,0,.8);
		background-color: #f88;
	}

/* INFO BOX */

	.info-box {
		text-align: center;
		width: 100%;
		background-color: #eeeffa;
		font-size: 130%;
		font-weight: 600;
		font-family: Palatino Linotype;
		padding: 30px 0 40px 0;
	}

	/* TINY XOLARIS LOGO */

		.tiny-logo {
			width: 100%;
			height: 1px;
			background-color: #ddd;
			margin-bottom: 40px;
		}

		.tiny-logo img {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
		}

/* SECTION GENERAL STYLING */

	.col {
		text-align: center;
	}

	.column-left{ float: left; width: 33%; }
	.column-right{ float: right; width: 33%; }
	.column-center{ display: inline-block; width: 33%; }

	section img {
		width: 100%;
	}

	hr {
		margin: 40px 0 40px 0;
		border: 1px dashed #aaa;
	}

	.section-title {
		color: #e00;
		font-size: 200%;
		font-weight: 600;
	}

	.section-content {
		font-size: 14pt;
		padding: 20px;
	}

	/* FEATURED SECTION */

		.feat_sect img {
			max-height: 222px;
			width: auto;
			max-width: 100%;
		}

/* FOOTER */

	footer {
		padding: 60px 0 60px 0;
		text-align: center;
		font-size: 14pt;
		background-color: #9cf;
		color: white;
	}

	.footer-link {
		color: #eeeffa;
		text-decoration: none;
	}

	.footer-img {
		margin: 15px 2px -2px 0;
		width: 25px;
	}


/* ----- MOBILE ----- */