 body, html {
                height: 100%;
                width: 100%;
            }
            .angular-google-map-container {
                height: 100%;
                width: 100%;
                position: absolute;
            }

            .middle {
                display: table;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }

            /*
            Use bootstraps container w/ some overrides, nice thing about this on bootstrap is there is
            psuedo element with clearfix and display: table; , all after (which is why I know .middle works above)
            */
            .container{
                width: 50%;
                padding-left: 0;
                padding-right: 0;
            }

/*Container of the content*/
#container{
  height: 475px;
  width: 300px;
  overflow: hidden;
}

/*header*/
#top{
  background-image: url('../img/city.jpg');
  background-color: rgba(0,204,0,0.5);
  height: 150px;
  width: 300px;
  
  background-size: 100%;
}

/*header image*/
#top img{
  border-radius: 50%;
  width: 115px;
  height: 120px;
  position: relative;
  left: 90px;
  top: 7px;
  border: solid;
  border-color: white;

}

/*header name*/
#name{
  color:white;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 5px;
}

/*infomation tabs of rating and repairs*/
#info-tab{
  margin-top: 5px;
  height: 50px;
  width: 300px;
     
}

/*repair tab*/
#info-tab-left{
  border-right: solid;
  border-color: white;
  border-radius: 0.5px;
  background-color: rgba(0,204,0,0.8);
  float: left;
  width: 150px;
  height: 50px;

}

/*rating tab*/
#info-tab-right{
  border-left: solid;
  border-radius: 0.5px;
  border-color: white;
  background-color: rgba(0,204,0,0.8);  
  float: right;
  width: 150px;
  height: 50px;
  

}

/*text for the repair and rating tab*/
.text{
  font-family: Open Sans, Segoe UI Light,sans-seri; 
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: -10px;
  
}

/*number for the repair and rating tab*/
.number{
  font-weight: 500;
  color: white;
   text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

/*infomation below the header*/
#info-para{
  margin-top: 20px;
  padding-bottom: 200px;
  margin-bottom: 0px;
  height: 150px;
  width: 300px;
  
}


/*word wrap for information*/
#test{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-word;
white-space: normal;
}
