#map{
	position: relative;
}
#menu{
	width: 400px;
	height: 100%;
	margin-left: -10px;
	background-color: rgba(0,204,0,0.8);
	position: absolute; 
	top: 0px; 
	left: 10px; 
	z-index: 99;
}

#main-logo{
	width: 280px;
	height: 200px;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
}

.back{
	position: absolute;
	top: 20px;
	left: 10px;
}


