html, body {
	font-family: Segoe UI Light;
	margin: 0px;
	padding: 0px;
	height:100%;
	overflow:hidden;
	
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

p{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

p:hover{
	font-size:16pt;
}

h2{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

h2:hover{
	font-size:22pt;
}

.bodybox {
	padding-left: 15em;
	padding-right: 15em;
	padding-top: 1em;
	height:100%;
	overflow:scroll;
	
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.topbox{
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.topbox:hover{
	background-color: #FFFFFF;
	color:#888888
}

.border1{
	margin:1em;
	background-color:#AAAAAA;
	padding:1px;
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}

.tabstrip{
	background-color: #FFFFFF;
}

.tab{
	padding:10px;
	background-color: #CCCCCC;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	
}

.tab:hover{
	background-color: #DDDDDD;
	cursor:pointer;
}

.project{
	padding:10px;
	margin:1px;
	background-color: #CCCCCC;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.project:hover{
	padding:10px;
	margin:1px;
	background-color: #DDDDDD;
}

.project span{
	position:absolute;
	visibility:hidden;
	left:1000px;
	top:100px;
	opacity:0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.project:hover span{
	left:50%;
	top:100px;
	position:absolute;
	visibility:visible;
	opacity:1;
	float:right;
}

.project span{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.project span:hover{
	
}

.textlink{
	cursor:pointer;
	color:#CC5555;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;

	
}

#h4h{
	background-image: url('http://tehjawn.github.io/h4h/iconprosmall.png');
	height:150px;
	width:150px;
	margin-right:10px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#h4h:hover{
	background-image: url('http://tehjawn.github.io/h4h/icon1small.png');
	opacity: .7;
}

.grad1{
	padding-left:1em;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0, #93A9BA),
	color-stop(1, #F7F7EF)
	);
	background-image: -o-linear-gradient(left, #93A9BA 0%, #F7F7EF 100%);
	background-image: -moz-linear-gradient(left, #93A9BA 0%, #F7F7EF 100%);
	background-image: -webkit-linear-gradient(left, #93A9BA 0%, #F7F7EF 100%);
	background-image: -ms-linear-gradient(left, #93A9BA 0%, #F7F7EF 100%);
	background-image: linear-gradient(to left, #93A9BA 0%, #F7F7EF 100%);
}

#java{
	background-image: url('http://png-4.findicons.com/files/icons/1008/quiet/256/java.png');
	height:150px;
	width:150px;
	background-size: 150px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#java:hover{
	background-image: url('http://png-1.findicons.com/files/icons/1636/file_icons_vs_3/256/java.png');
	opacity: .7;
}

#instagram{
	background-image: url('https://farm9.staticflickr.com/8168/7448717958_1738735d85.jpg');
	height:150px;
	width:150px;
	background-size: 150px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#instagram:hover{
	height:120px;
	width:120px;
	background-size: 120px;
	opacity: .7;
}

#pennapps{
	background-image: url('https://s3.amazonaws.com/challengepost/photos/production/challenge_thumbnails/000/196/878/datas/original.png?1420531890');
	height:150px;
	width:150px;
	background-size: 150px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#pennapps:hover{
	height:120px;
	width:120px;
	background-size: 120px;
	opacity: .7;
}

#owl{
	background-image: url('http://tehjawn.github.io/h4h/owl.png');
	height:100px;
	width:100px;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

#owl:hover{
	background-image: url('http://tehjawn.github.io/h4h/owl2.png');
	opacity: .7;
}

#profile{
	opacity:1;
	cursor:pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#profile:hover{
	opacity:.5;
}

#textlink:hover{
	color:#550000;
}

section {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
	
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

[for=show]{
    width: 100%;
	background-color:#CCCCCC;
    text-align: center;
    padding: .65rem;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

[for="show"]:hover {
    background-color:white;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

[for="show"] span:last-of-type{
    visibility: hidden;
	opacity:0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

input[type=checkbox]:checked ~ .bodybox {
	background-color:#888888;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

input[type=checkbox]:checked ~ [for="show"] span:first-of-type {
    visibility: hidden;
	opacity:0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

input[type=checkbox]:checked ~ [for="show"] span:last-of-type {
    visibility: visible;
	opacity:1;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.projlink{
	display: block; 
	height:100%;
	color:#555555;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.projlink:hover{
	font-size:14pt;
	display: block; 
	height:100%;
	color:black;
}

.frame{
	width:100%;
	height:100%;
	margin-bottom:2em;
	border:0;
	overflow:auto;
}

#contentframe{
	height:100%;
	overflow: hidden;
}

iframe{
	overflow:auto;
}

.content{
	height:100%;
	padding: 1em;
	overflow: auto;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}