html,
body {
  background-color: #fff;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.text-muted {
  color: #555
}

.text-primary {
  color: #fff
}

.slogan {
  font-size: 200%;
}

.img-med {
  max-width: 300px;
  border: 3px solid white;
}

.elephant-white {
  height: 50px;
  left: 10px;
  position: absolute;
  -webkit-filter: brightness(2000%);
  /* Chrome, Safari, Opera */
  filter: brightness(2000%);
}

.table a {
  color: #5588ee;
}
.table a:hover {
  color: #88aaff;
}

.logo-white {
  height: 100px;
  left: 50px;
  top: -25px;
  position: absolute;
  -webkit-filter: brightness(2000%);
  /* Chrome, Safari, Opera */
  filter: brightness(2000%);
}

.shadow-top {
  box-shadow: 0 -10px 25px -15px black;
}

p {
  font-size: 14px;
  line-height: 1.75
}

p.large {
  font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0
}

a {
  color: #fff
}

a:hover,
a:focus,
a:active,
a.active {
  color: #fff;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700
}

.img-centered {
  margin: 0 auto
}

.bg-light-gray {
  background-color: #f7f7f7
}

.bg-darkest-gray {
  background-color: #222
}

.btn-primary {
  color: #fff;
  background-color: #FDB640;
  border-color: #FDB640;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FDB640;
  border-color: #f6bf01
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fff;
  border-color: #fff
}

.btn-primary .badge {
  color: #fff;
  background-color: #fff
}

.btn-lg {
  background-color: #50CED2;
  white-space: normal;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-xxl {
  color: #fff;
  width: 100%;
  max-width: 100%;
  white-space: normal;
  background-color: #FDB640;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  font-size: 20px;
  padding: 40px;
  margin: 0;
  transition: .2s
}


.btn-xl {
  color: #fff;
  width: 100%;
  max-width: 100%;
  white-space: normal;
  background-color: #FDB640;
  border-color: #C19E74;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  transition: .2s
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: #FBA542;
  border-color: #f6bf01
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fff;
  border-color: #fff
}

.btn-xl .badge {
  color: #fff;
  background-color: #fff
}

.navbar-default {
  background-color: #222;
  border-color: transparent;
  box-shadow: 0 0 25px -7px black;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #FDB640
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
  background-color: #C19E74;
  color: #fff;
  border-color: #fff
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 1)
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #C19E74
}

.pbj-grad {
  background-image: -moz-linear-gradient(top, #50CED2 25%, #FF5B47 25%, #FF5B47 70%, #FFA552 70%, #FFA552 85%, #FCD55C 85%);
  background-image: linear-gradient(top, #50CED2 25%, #FF5B47 25%, #FF5B47 70%, #FFA552 70%, #FFA552 85%, #FCD55C 85%);
  background-image: -webkit-linear-gradient(top, #50CED2 25%, #FF5B47 25%, #FF5B47 70%, #FFA552 70%, #FFA552 85%, #FCD55C 85%);
  background-image: -o-linear-gradient(top, #50CED2 25%, #FF5B47 25%, #FF5B47 70%, #FFA552 70%, #FFA552 85%, #FCD55C 85%);
  background-image: -ms-linear-gradient(top, #50CED2 25%, #FF5B47 25%, #FF5B47 70%, #FFA552 70%, #FFA552 85%, #FCD55C 85%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(25%, #50CED2), color-stop(25%, #FF5B47), color-stop(70%, #FF5B47), color-stop(70%, #FFA552), color-stop(85%, #FFA552), color-stop(85%, #FCD55C));
}

.navbar-default .nav li a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #fff;
  /*text-decoration-line: */
  /*border-bottom: 3px solid white;*/
  outline: 0;
  transition: .2s;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, .3)
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #FDB640
}

@media (min-width:768px) {
  .btn-xl {
    width: 40%;
  }
  .pbj-grad {
    background-image: -moz-linear-gradient(top, #50CED2 12%, #FF5B47 12%, #FF5B47 80%, #FFA552 80%, #FFA552 90%, #FCD55C 90%);
    background-image: linear-gradient(top, #50CED2 12%, #FF5B47 12%, #FF5B47 80%, #FFA552 80%, #FFA552 90%, #FCD55C 90%);
    background-image: -webkit-linear-gradient(top, #50CED2 12%, #FF5B47 12%, #FF5B47 80%, #FFA552 80%, #FFA552 90%, #FCD55C 90%);
    background-image: -o-linear-gradient(top, #50CED2 12%, #FF5B47 12%, #FF5B47 80%, #FFA552 80%, #FFA552 90%, #FCD55C 90%);
    background-image: -ms-linear-gradient(top, #50CED2 12%, #FF5B47 12%, #FF5B47 80%, #FFA552 80%, #FFA552 90%, #FCD55C 90%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(12%, #50CED2), color-stop(12%, #FF5B47), color-stop(80%, #FF5B47), color-stop(80%, #FFA552), color-stop(90%, #FFA552), color-stop(90%, #FCD55C));
  }
  .navbar-default {
    background-color: transparent;
    padding: 15px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
  }
  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px
  }
  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 8px 0
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em
  }
}

header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: none;
  background-attachment: fixed;
  /*
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
  text-align: center;
  color: #fff
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px
}

header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-style: italic;*/
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px
}

header .intro-text .intro-heading {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px
}

@media (min-width:768px) {
  header .intro-text {
    /*padding-top: 300px;*/
    padding-bottom: 200px
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-style: italic;*/
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px
  }
  header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
  }
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  /*font-style: italic;*/
  font-weight: 400;
  margin-bottom: 75px
}

@media (min-width:768px) {
  section {
    padding: 150px 0
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, .9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-style: italic;*/
  font-size: 16px;
  margin: 0
}

#portfolio * {
  z-index: 2
}

@media (min-width:767px) {
  .elephant-white {
    height: 50px;
    left: 18%;
    position: absolute;
    -webkit-filter: brightness(2000%);
    /* Chrome, Safari, Opera */
    filter: brightness(2000%);
  }
  .logo-white {
    height: 100px;
    left: 20%;
    top: -13px;
    position: absolute;
    -webkit-filter: brightness(2000%);
    /* Chrome, Safari, Opera */
    filter: brightness(2000%);
  }
  #portfolio .portfolio-item {
    margin: 0 0 30px
  }
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px
}

.timeline>li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table
}

.timeline>li:after {
  clear: both
}

.timeline>li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left
}

.timeline>li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}

.timeline>li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}

.timeline>li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  color: #fff;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}

.timeline>li:last-child {
  margin-bottom: 0
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}

.timeline .timeline-heading h4.subheading {
  text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0
}

@media (min-width:768px) {
  @media (max-width: 1300px) {
    .elephant-white {
      height: 50px;
      left: 45%;
      position: absolute;
      -webkit-filter: brightness(2000%);
      /* Chrome, Safari, Opera */
      filter: brightness(2000%);
    }
    .logo-white {
      height: 100px;
      left: 48%;
      top: -13px;
      position: absolute;
      -webkit-filter: brightness(2000%);
      /* Chrome, Safari, Opera */
      filter: brightness(2000%);
    }
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
      display: block!important;
    }
    .collapsing {
      overflow: hidden!important;
    }
  }
  .timeline:before {
    left: 50%
  }
  .timeline>li {
    margin-bottom: 100px;
    min-height: 100px
  }
  .timeline>li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right
  }
  .timeline>li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px
  }
}

@media (min-width:992px) {
  #gmap_canvas {
    width: 100%;
    height: 668px;
  }
}

#gmap_canvas {
  width: 100%;
  height: 668px;
}

#gmap_canvas img {
  max-width: none!important;
  background: none!important
}

section#contact {
  background-color: #222;
  background-image: url(../img/disp-contact.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.overlay {
  position: relative;
  width: 100%;
}

section#contact .section-heading {
  color: #fff
}

section#contact .form-group {
  margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px
}

section#contact .form-group input.form-control {
  height: auto
}

section#contact .form-group textarea.form-control {
  height: 236px
}

section#contact .form-control:focus {
  border-color: #fff;
  box-shadow: none
}

section#contact::-webkit-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#contact:-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#contact::-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#contact:-ms-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#contact .text-danger {
  color: #e74c3c
}


section#bookus .form-group input,
section#bookus .form-group textarea {
  padding: 20px
}

section#bookus .form-group input.form-control {
  height: auto
}

section#bookus .form-group textarea.form-control {
  height: 217px
}

section#bookus .form-control:focus {
  border-color: #fff;
  box-shadow: none
}

section#bookus::-webkit-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#bookus:-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#bookus::-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#bookus:-ms-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}

section#bookus .text-danger {
  color: #e74c3c
}

footer {
  padding: 25px 0;
  text-align: center
}

footer span.copyright {
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 0 0 0px 3px white;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}

.white-bg {
  background-color: white;
  color: #333;
}

.fwhite-bg {
  background-color: #eee;
  color: #333;
}

.teal-bg {
  background-color: #59D2D9;
}

.scarlet-bg {
  background-color: #FF5D40;
}

.orange-bg {
  background-color: #FBA542;
}

.fb-bg {
  background-color: #425F9C;
}

.pb-bg {
  background-color: #C19E74;
  /*box-shadow: 0 0 0px 3px white;*/
}

.gold-bg {
  background-color: #FBD640;
}

.orange-sec-link {
  color: #333;
  text-decoration: underline;
}

.orange-sec-link:hover {
  color: #59D2D9;
}

.break {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

.gallery-btn {
  color: #333;
  font-size: 2em;
  transition: .2s;
}

.gallery-btn:hover {
  text-decoration: none;
  color: #666;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  box-shadow: 0 0 0px 5px #FBD640;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  min-height: 100%;
  padding: 100px 0;
  text-align: center
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-style: italic;*/
  font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer
}

.portfolio-modal .close-modal:hover {
  opacity: .3
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 1052
}

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none
}

::-moz-selection {
  text-shadow: none;
  background: #eeefff
}

::selection {
  text-shadow: none;
  background: rgba(200, 225, 255, .3)
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

body {
  webkit-tap-highlight-color: #fff
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  outline: 1px solid slategrey;
}

/* Belcky CSS */

.corktable{
    height: 600px;
    background-image: url(../img/header-bg.jpg);
    border-radius: 25px;
    padding-top: 20px;
    box-shadow: -10px 10px 25px -13px black; 
}
.paper{
    margin: auto;
    width: 90%;
    height: 67%;
    border-radius: 3px;
    box-shadow: -10px 10px 25px -13px black; 
}
.tack{
    width: 90%;
    margin: auto;
}
.tack img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 45%;
    margin-top: -25px;
}
.tack-block{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: white;
    height: 30px;
}
.paper-title{
    width: 80%;
    padding: 0px 5px;
    margin: 0px auto 20px auto;
}

.tack-block .red-line{
    margin-left: 50px;
    height: 100%;
    width: 1px;
    background-color: red;
}
.paper tr{
    border-bottom: 1px solid #59D2D9;
}
.paper tr:nth-child(n+2):hover{
    background-color: #FBA542;
}
.paper tr:nth-child(n+2):hover a{
    color: white;
}
.paper td:first-child, .paper th:first-child{
    width: 50px;
    border-right: 1px solid red;
}
.paper table{
    width: 100%;
}
.table-pad td, .table-pad th{
    padding: 10px 5px 10px 10px;
}
.paper a, .paper a:visited{
  color: #5588ee;
}


/*NEW CSS*/

.gray-bg {
  background-color: #aaa;
}

.btn-xxl:hover {
  color: white;
}

a.white-bg:hover {
  background-color: white;
  color: #777;
}

a.fwhite-bg:hover {
  background-color: white;
  color: #777;
}

.pink-bg {
  background-color: #E61F73;
  transition: .2s;
}

.pink-bg:hover {
  background-color: #f28;
}

a.teal-bg:hover {
  background-color: #8de;
  border-color: white;
}

a.scarlet-bg:hover {
  background-color: #f64;
}

a.orange-bg:hover {
  background-color: #fa6;
}

a.fb-bg:hover {
  background-color: #56a;
}

a.gray-bg:hover {
  background-color: #ccc;
}

a.pb-bg:hover {
  background-color: #C19E74;
  /*box-shadow: 0 0 0px 3px white;*/
}

a.gold-bg:hover {
  background-color: #FBD640;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.full {
  width: 100%;
}

.half {
  float: left;
  width:50%;
}

.space-bot {
  margin-bottom: 190px;
}

.contact-book-radio {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 14pt;
  margin: 0px;
}