@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);


#menu-6 A {
	color: #ffffff !important;
}
#header1-10 H1 {
	font-family: 'Bitter', serif !important;
}
#header1-10 P {
	font-family: 'Bitter', serif !important;
}
#features1-7 H3 {
	color: #a38f84 !important;
}
#header1-8 H1 {
	color: #000000 !important;
}
#header1-8 P {
	color: #252525 !important;
}
